body{
	background-color:#080808;
	color: #33FF33; font-family: 'Share Tech Mono', monospace;
	font-size:16px;
	line-height:1.4;
}

h1{
	letter-spacing: 3;
}

.center{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-right{
	position:absolute;
	bottom:1rem;
	right:1rem;
}

.btn{
	background-color:#080808;
	color: #33FF33; font-family: 'Share Tech Mono', monospace;
	font-size:16px;
	line-height:1.4;
	text-decoration: none;
	padding:1rem 3rem 1rem 3rem;
	border: 2px solid #33FF33;
}

.btn:hover{
	background-color:#33FF33;
	color: #080808; 
	border: 2px solid #080808;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}